<%- include header.ejs %>
      <table id="commits-table" class="display">
        <thead>
            <tr>
                <th>Name</th>
                <th>check</th>
            </tr>
        </thead>
        <tbody>
        <% commitsData.forEach(function(commitD) { %>  
          <tr>
              <td><a target="_blank" href='/user/<%=commitD.name %>'><%=commitD.name %></a></td>
              <td><input type="checkbox"></td>
          </tr>
    
        <% }) %>  
      </tbody>
    </table>
<%- include footer.ejs %>


    
 